

@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="text-center">
        <h1 class="py-2 mt-2">Terminos y coniciones</h1>
        <img class="mb-2" src="~/img/avatar.png" alt="" width="150" height="150">
        <p class="text-justify">
            Por favor lee nuestros Términos de Servicio para entender las condiciones de uso de<strstrong class="text-danger">“Odontgrama”</strstrong> antes de acceder o usar esta aplicación, servicios, funciones herramientas que proporciona este sitio web.
        </p>
        <h3 class="py-2 mt-2">Al usar nuestros Servicios, reconoces, aceptas y estás de acuerdo con:</h3>
        <p class="text-justify">
            Recibir mensajes publicitarios como parte de Convocatorias  Gratuitas, en la comunidad de estudiantes, como en la plataforma web, que pueden ser, mas no son limitantes, en forma de notificaciones al correo electrónico asociado a esta plataforma.
        </p>
        <p class="text-justify">
            Registrarte haciendo uso de tus datos verdaderos y mantenerlos actualizados para que puedas seguir contando con nuestros Servicios con la calidad que ofrecemos.
        </p>
        <p class="text-justify">
            Mantener privado el acceso a tu cuenta, es decir, no compartir datos personales, como nombre de usuario y contraseñas, con terceros; así como no utilizar los datos personales de otras PERSONAS para acceder a su cuenta
        </p>
        <p class="text-justify">
            Informar a <strstrong class="text-danger">“Soporte Odontgrama”</strstrong> de cualquier aspecto en la plataforma web, que pueda resultar en una afectación para cualquiera de los Servicios que ofrecemos y a su vez, para el Usuario.
        </p>

        <h3 class="py-2 mt-2">Nuestros compromisos con el Usuario</h3>

        <p class="text-justify">
            El <strstrong class="text-danger">“ Odontgrama ”</strstrong> esta comprometido con nuestros Usuarios y busca ofrecer el mejor entorno digital para que realicen sus tratamientos por ello, tenemos siempre presente lo siguiente:
        </p>
        <p class="text-justify">
            Ofrecer asesoría, soporte técnico y capacitación al Usuario, que puede ser en forma de manuales digitales o impresos, videos en nuestra página web, tutoriales gráficos, o talleres presenciales, lo cual será acordado al momento de contratar. Esta asesoría, soporte técnico y capacitación será totalmente gratuita para el Usuario.
        </p>
        <p class="text-justify">
            Actualizar de manera periódica nuestros Servicios para satisfacer las solicitudes del Usuario o para cubrir funcionalidades que en  <strstrong class="text-danger">“Soporte Odontgrama”</strstrong> consideremos importantes. Dichas actualizaciones se harán de forma automática, con o sin previo aviso para el Usuario
        </p>

        <h3>Límites de responsabilidad</h3>

        <p class="text-justify">
            <strstrong class="text-danger">“Odontgrama”</strstrong> busca siempre ofrecer Servicios de calidad; sin embargo, existen límites en cuanto a nuestros compromisos y responsabilidades para con el Usuario. Por ello, no nos hacemos responsables de las consecuencias, positivas o negativas, derivadas de la comisión u omisión, por parte de <strstrong class="text-danger">“Soporte Odontgrama”</strstrong>, del Usuario o de un tercero, de alguno de los siguientes puntos:
        </p>

        <p class="text-justify">
            Que la información del perfil del Usuario no esté actualizada o contenga información falsa.
        </p>
        <p class="text-justify">
            El uso indebido e ilegal que el Usuario realice de nuestros Servicios.
        </p>
        <p class="text-justify">
            Conductas, acciones o Contenidos inapropiados, ofensivos, ilícitos y de cualquier otra índole que el Usuario utilice, comparta o almacene como parte del uso de nuestros Servicios.
        </p>
    </div>
</div>



