@{
    ViewBag.Title = "Confirmacion";
}


<div class="py-5 container text-center">
    <img src="~/img/desbloqueado.svg" width="250" height="250" />
    <h3 class="mb-2">¡Todo listo! Ahora puedes disfrutar de todas las funcionalidades de este sitio: </h3>
    <p class="p-3 mb-2 alert-success">
        Un ultimo paso
    </p>

    <div>
        <p class="mb-2">
            Inicia sesión para completar @Html.ActionLink("Ir a iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>

<!--

REcursos graficos
    Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
    Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
-->
