@{
    ViewBag.Title = "Confirmacion";
}



<div class="py-5 container text-center">
    <img src="~/img/bloqueado.svg" width="250" height="250" />
    <h3>¡Ya casi! Puedes disfrutar de todas las funcionalidades de este sitio pero, primero: </h3>
    <p class="p-3 mb-2 alert-warning">
        Por favor comprueba que eres una persona.
    </p>
    <h4 class="mb-2">Presiona en enlace para confirmar : </h4>
    <a href="@ViewBag.Link" class="btn btn-dark">Enlace</a>
    <p>

    </p>
</div>
<!--

REcursos graficos
    Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
    Iconos diseñados por <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
-->
