@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Delete";
}


    <div class="container">
        <h2 class="mt-4">Eliminar rol.</h2>


        <div class="mt-3">
            <dl class="dl-horizontal">
                <dt>
                    Nombre:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" /> 
                    @Html.ActionLink("Ver la lista", "Index")
                </div>
            }
        </div>
    </div>


