
@{
    ViewBag.Title = "Administrador";

}

<div class="container">


    <div class="mt-3 row">
        <div class="col text-left">
            <h4 class="mt-3 mb-3">Portal de análisis </h4>
        </div>

        <div class="col text-right">
            
        </div>
    </div>
</div>



<div class="container">
    <div>
        <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=69598567-cea2-4eb2-b9ea-b04ac15a1b0f&autoAuth=true&ctid=f203b70b-9a01-483c-9db6-af977d6cfc5e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>


<!--

<div class="container">
    <div>
        <iframe width="400" height="600" src="https://apps.powerapps.com/play/86774680-9240-4014-b740-64438ce49cdc?tenantId=f203b70b-9a01-483c-9db6-af977d6cfc5e" />
    </div>
</div>

-->
